In [5]:
import numpy as np
import pandas as pd
from timer import Timer
from app.util.util import DotDict
from main import yolo_run_image, yolo_run_video, inference_on_image, inference_on_video

In [6]:
args_pytorch_image = DotDict({
    "weights": "./app/weights/yolov9c.pt", 
    "source": "./app/assets/sample_image.jpeg", 
    "classes": "./app/weights/metadata.yaml", 
    "type": "image", 
    "show": False, 
    "score_threshold": 0.1, 
    "conf_threshold": 0.4, 
    "iou_threshold": 0.4, 
    "device": "cpu"
})

args_pytorch_video = DotDict({
    "weights": "./app/weights/yolov9c.pt", 
    "source": "./app/assets/sample_video_2.mp4", 
    "classes": "./app/weights/metadata.yaml", 
    "type": "video", 
    "show": False, 
    "score_threshold": 0.1, 
    "conf_threshold": 0.4, 
    "iou_threshold": 0.4, 
    "device": "cpu"
})

args_onnx_image = DotDict({
    "weights": "./app/weights/yolov9c.onnx", 
    "source": "./app/assets/sample_image.jpeg", 
    "classes": "./app/weights/metadata.yaml", 
    "type": "image", 
    "show": False, 
    "score_threshold": 0.1, 
    "conf_threshold": 0.4, 
    "iou_threshold": 0.4, 
    "device": "cpu"
})

args_onnx_video = DotDict({
    "weights": "./app/weights/yolov9c.onnx", 
    "source": "./app/assets/sample_video_2.mp4", 
    "classes": "./app/weights/metadata.yaml", 
    "type": "video", 
    "show": False, 
    "score_threshold": 0.1, 
    "conf_threshold": 0.4, 
    "iou_threshold": 0.4, 
    "device": "cpu"
})

In [7]:
def run_inference_pytorch_image():
    result = yolo_run_image(args_pytorch_image)
    return result

def run_inference_pytorch_video():
    result = yolo_run_video(args_pytorch_video)
    return result

def run_inference_onnx_image():
    result = inference_on_image(args_onnx_image)
    return result

def run_inference_onnx_video():
    result = inference_on_video(args_onnx_video)
    return result

In [9]:
execution_times = []
for i in range(10):
    execution_time = run_inference_pytorch_image()
    execution_times.append(execution_time)

average_time = sum(execution_times) / len(execution_times)
print(f"\nAverage execution time: {average_time:.4f} seconds")

[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 141.4ms
Speed: 1.5ms preprocess, 141.4ms inference, 0.7ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3103 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 149.1ms
Speed: 1.3ms preprocess, 149.1ms inference, 0.6ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3208 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 146.7ms
Speed: 1.3ms preprocess, 146.7ms inference, 0.6ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3115 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 143.8ms
Speed: 1.2ms preprocess, 143.8ms inference, 0.8ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3094 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 146.1ms
Speed: 1.4ms preprocess, 146.1ms inference, 0.7ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3233 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 147.2ms
Speed: 1.5ms preprocess, 147.2ms inference, 0.7ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3159 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 143.0ms
Speed: 1.2ms preprocess, 143.0ms inference, 0.7ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3186 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 141.7ms
Speed: 1.2ms preprocess, 141.7ms inference, 0.6ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3123 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 161.3ms
Speed: 2.0ms preprocess, 161.3ms inference, 0.6ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3604 seconds
[INFO] Initialize Model
[INFO] Inference Image

0: 448x640 1 person, 1 bicycle, 6 cars, 3 trucks, 154.8ms
Speed: 1.2ms preprocess, 154.8ms inference, 0.7ms postprocess per image at shape (1, 3, 448, 640)
Elapsed time: 0.3369 seconds

Average execution time: 0.3219 seconds

In [6]:
# ms
df = pd.DataFrame(execution_times, columns=["time (second)"])
print(df)
df.describe(percentiles=[.9, .95])

   time (second)
0       0.687704
1       0.337451
2       0.352852
3       0.338021
4       0.321523
5       0.323267
6       0.333026
7       0.321371
8       0.358151
9       0.351544

       time (second)
count      10.000000
mean        0.372491
std         0.111553
min         0.321371
50%         0.337736
90%         0.391107
95%         0.539405
max         0.687704

In [8]:
df = pd.DataFrame(execution_times, columns=["time (second)"])
print(df)
df.describe(percentiles=[.9, .95])

   time (second)
0       0.197100
1       0.181918
2       0.187720
3       0.182197
4       0.182477
5       0.181348
6       0.181303
7       0.182947
8       0.180214
9       0.180375

       time (second)
count      10.000000
mean        0.183760
std         0.005139
min         0.180214
50%         0.182057
90%         0.188658
95%         0.192879
max         0.197100

In [10]:
df = pd.DataFrame(execution_times, columns=["time (second)"])
print(df)
df.describe(percentiles=[.9, .95])

   time (second)
0      27.965060
1      26.783324
2      26.982896
3      30.358420
4      28.956769
5      27.999919
6      27.634550
7      26.669910
8      29.995955
9      30.597703

       time (second)
count      10.000000
mean       28.394451
std         1.493402
min        26.669910
50%        27.982489
90%        30.382348
95%        30.490025
max        30.597703

In [12]:
df = pd.DataFrame(execution_times, columns=["time (second)"])
print(df)
df.describe(percentiles=[.9, .95])

   time (second)
0      33.269749
1      32.921526
2      32.890158
3      32.888064
4      33.017453
5      32.868843
6      32.903990
7      33.589185
8      33.031499
9      32.872880

       time (second)
count      10.000000
mean       33.025335
std         0.232884
min        32.868843
50%        32.912758
90%        33.301692
95%        33.445439
max        33.589185